#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [9]:
data = pd.read_csv('ttest_machine.txt', delimiter = ' ')
data

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [11]:
data.describe()

       New_machine  Old_machine
count    10.000000    10.000000
mean     42.140000    43.230000
std       0.683455     0.749889
min      41.000000    41.700000
25%      41.800000    42.800000
50%      42.200000    43.400000
75%      42.625000    43.750000
max      43.200000    44.100000

In [ ]:
#Hypothesis Definition
# H0 = The mean of the new machine is greater than or equal to the mean of the old machine .
# H1 = The mean of the new machine is less than the mean of the old machine.

In [12]:
print('statistic :',st.ttest_1samp(data['New_machine'],43.23)[0],'; p value (single tailed): ',st.ttest_1samp(data['New_machine'],43.23)[1]/2)

statistic : -5.043318535038297 ; p value (single tailed):  0.0003483188038379669

In [ ]:
#p value is low.. so H0 is rejected..that means this two machines are not the same..

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [7]:
# Your code here:
pokemon = pd.read_csv('pokemon.txt', index_col=False)
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [13]:
def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    # Your code here
    for feature in features:
        t_stat, p_val = st.ttest_ind(s1[feature], s2[feature])
        results[feature] = p_val
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [ ]:
#spliting legend and non legend

In [14]:
grouped_pokemon = pokemon.groupby('Legendary')

legend = grouped_pokemon.get_group(True)
non_legend = grouped_pokemon.get_group(False)

In [16]:
# Define the features to test
features = ['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']

# Perform t-tests for each feature
t_test_features(legend, non_legend, features)

{'HP': 3.330647684846191e-15,
 'Attack': 7.827253003205333e-24,
 'Defense': 1.5842226094427255e-12,
 'Sp. Atk': 6.314915770427266e-41,
 'Sp. Def': 1.8439809580409594e-26,
 'Speed': 2.3540754436898437e-21,
 'Total': 3.0952457469652825e-52}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here
#In each case, the p-value is significantly smaller than 0.05, indicating that we reject the null hypothesis for all features. 
#Therefore, we conclude that there is a statistically significant 
#difference between legendary and non-legendary Pokémon for each of these features.

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [17]:
# Your code here
grouped_pokemon = pokemon.groupby('Generation')

gen1 = grouped_pokemon.get_group(1)
gen2 = grouped_pokemon.get_group(2)

In [18]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']
t_test_features(gen1, gen2)

{'HP': 0.13791881412813622,
 'Attack': 0.24050968418101445,
 'Defense': 0.5407630349194362,
 'Sp. Atk': 0.14119788176331508,
 'Sp. Def': 0.1678122623160639,
 'Speed': 0.0028356954812578704,
 'Total': 0.5599140649014442}

#### What conclusions can you make?

In [ ]:
# H0: gen1 is same as gen2
# H1: gen1 is not same as gen2
#we reject the null hypothesis (H0) for the 'Speed' attribute and conclude that there is a statistically significant 
#difference in mean 'Speed' values between Pokémon from Generation 1 and Generation 2.

#For all other attributes ('HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Total'), the p-values are greater than 0.05.
#Thus, we fail to reject the null hypothesis (H0) for these attributes.

#### Compare pokemons who have single type vs those having two types.

In [19]:
# Your code here
grouped_pokemon = pokemon.groupby(pokemon['Type 2'].isna())

one_type = grouped_pokemon.get_group(True)
two_type = grouped_pokemon.get_group(False)

In [20]:
features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']
t_test_features(one_type, two_type)

{'HP': 0.11060643144431842,
 'Attack': 0.00015741395666164396,
 'Defense': 3.250594205757004e-08,
 'Sp. Atk': 0.0001454917404035147,
 'Sp. Def': 0.00010893304795534396,
 'Speed': 0.02405141079403746,
 'Total': 1.1749035008828752e-07}

#### What conclusions can you make?

In [ ]:
# Your comment here
#For the features Attack, Sp. Atk, Sp. Def, and Speed, the p-values are smaller than the significance level of 0.05.
 #Therefore, we reject the null hypothesis (H0) 

#For the remaining features (HP, Defense, Total), the p-values are greater than 0.05. Thus, we fail to reject the null 
 #hypothesis (H0) for these features

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [21]:
# Your code here
st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [22]:

st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

#### What conclusions can you make?

In [ ]:
#The difference in mean values between attack and defense is 4.33 standard deviations away from the mean. 
 #Since the p-value is smaller than 0.05, we reject the null hypothesis (H0) and conclude that there is a significant 
 #difference between attack and defense.

In [ ]:
#The difference in mean values between attack and defense is only 0.85 standard deviations away from the mean.
 #Since the p-value is greater than 0.05, we fail to reject the null hypothesis (H0) and conclude that there is no significant 
 #difference between attack and defense.